<div class="container">
    <h2 mat-dialog-title>{{ demande.id_demande ? 'Update' : 'Add' }} Request</h2>
    <mat-dialog-content>
        <form #demandeForm="ngForm">
            <br>
            <!--<fieldset>-->
            <!--<legend>General Information</legend>-->
            <mat-stepper [linear]="true" #stepper>
                <mat-step label="Informations Générales"><!--[stepControl]="firstFormGroup"-->
                    <ng-template matStepLabel>General Information of Damage</ng-template>

                    <mat-form-field appearance="outline">
                        <mat-label>Requst Date</mat-label>
                        <input matInput [matDatepicker]="picker1" [(ngModel)]="demande.date_demande" name="date_demande"
                            required>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Breakdown Type</mat-label>
                        <textarea matInput [(ngModel)]="demande.type_avarie" name="type_avarie" required></textarea>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea matInput [(ngModel)]="demande.description" name="description" required></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Date Domage</mat-label>
                        <input matInput [matDatepicker]="picker2" [(ngModel)]="demande.date_avarie"
                            name="date_avarie" required>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>

                    <!--<mat-form-field appearance="outline">
                    <mat-label>Hour Demand</mat-label>
                    <input matInput [matTimepicker]="picker" [(ngModel)]="demande.heure_avarie"
                        name="heure_avarie" required>
                    <mat-timepicker-toggle matIconSuffix [for]="picker" />
                    <mat-timepicker #picker />
                </mat-form-field>-->

                    <mat-form-field appearance="outline">
                        <mat-label>Hour Domage</mat-label>
                        <input type="time" matInput [(ngModel)]="demande.heure_avarie" name="heure_avarie" required>
                    </mat-form-field>

                    <!--</fieldset><br>-->
                    <button mat-button matStepperNext>Next</button>
                </mat-step>

                <mat-step label="vehicle Information">
                    <ng-template matStepLabel>vehicle Information</ng-template>
                    <!--<fieldset>-->
                    <!--<legend>Vehicle Information</legend>-->
                    <mat-form-field>
                        <mat-label>Park Number</mat-label>
                        <mat-select (selectionChange)="getVehiculeInfo()"
                            [(ngModel)]="demande.vehicule.numparc" name="numparc" required>
                            <mat-option *ngFor="let num of numparcList" [value]="num">
                                {{ num }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Vehicle Number</mat-label>
                        <input matInput [(ngModel)]="demande.vehicule.immatricule" name="immatricule" disabled readonly>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Model</mat-label>
                        <input matInput [(ngModel)]="demande.vehicule.modele" name="modele" disabled readonly>
                    </mat-form-field>


                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>

                <!--</fieldset>-->
                <!--<fieldset>-->

                <mat-step label="Driver Information">
                    <ng-template matStepLabel>Driver Information</ng-template>
                    <!--<legend>Declarant Information</legend>-->
                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <mat-select (selectionChange)="getChauffeurInfo()"
                            [(ngModel)]="demande.chauffeur.nom" name="nom" required>
                            <mat-option *ngFor="let num of nameList" [value]="num">
                                {{ num }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input matInput [(ngModel)]="demande.chauffeur.prenom" name="prenom" disabled readonly>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Driver Number</mat-label>
                        <input matInput [(ngModel)]="demande.chauffeur.matricule_chauf" name="matricule_chauf" disabled
                            readonly>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Identity card</mat-label>
                        <input matInput [(ngModel)]="demande.chauffeur.cin" name="cin" disabled readonly>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Phone Number</mat-label>
                        <input matInput [(ngModel)]="demande.chauffeur.telephone" name="telephone" disabled readonly>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>E-Mail</mat-label>
                        <input matInput [(ngModel)]="demande.chauffeur.email" name="email" disabled readonly>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button color="primary" (click)="saveDemande(demandeForm)">Save</button>
                    </div>
                    <!--</fieldset>-->
                </mat-step>

                <!--<mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    <p>Please verify all information before submitting.</p>
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button color="primary" (click)="saveDemande(demandeForm)">Save</button>
                      <button mat-button (click)="stepper.reset()">Reset</button>

                    </div>
                  </mat-step>-->
            </mat-stepper>

        </form>
    </mat-dialog-content>
    <!--<div class="buton">
        <mat-dialog-actions>
            <button mat-button (click)="dialogRef.close()">Annuler</button>
        </mat-dialog-actions>
    </div>-->
</div>