<div class="card">
    <div class="card-head">
        <div class="title"> List Orders</div>
    </div>

    <div class="search-header">
        Search Filters
    </div>
    <div class="search-container">

        <form (ngSubmit)="searchOrdre()" #searchForm="ngForm" class="search-form">

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="id_atelier">Workshops</label>
                        <select class="form-control" name="id_atelier" id="id_atelier"
                            [(ngModel)]="searchParams.id_atelier">
                            <option ngValue="">All Workshops</option>
                            <option *ngFor="let atelier of ateliers" [ngValue]="atelier.id_atelier">
                                {{atelier.nom_atelier}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="id_technicien">Technician</label>
                        <select class="form-control" name="id_technicien" id="id_technicien"
                            [(ngModel)]="searchParams.id_technicien">
                            <option ngValue="">All Technician</option>
                            <option *ngFor="let technicien of techniciens" [ngValue]="technicien.id_technicien">
                                {{technicien.matricule_techn}} {{technicien.nom}} {{technicien.prenom}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="date_ordre">Order Date</label>
                        <input type="date" class="form-control" name="date_ordre" id="date_ordre"
                            [(ngModel)]="searchParams.date_ordre">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select class="form-control" name="status" id="status" [(ngModel)]="searchParams.status">
                            <option ngValue="">All Status</option>
                            <option *ngFor="let ordre of ordres" [ngValue]="ordre.status">
                                {{ordre.status}}</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="buton">
                <button mat-raised-button type="button" (click)="resetSearch()">Reset</button>
                <button mat-raised-button color="primary" type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="card-body">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort *ngIf="dataSource.data.length > 0">

            <ng-container matColumnDef="id_ordre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let Ordre"> {{Ordre.id_ordre}} </td>
            </ng-container>

            <ng-container matColumnDef="Vehicle">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle </th>
                <td mat-cell *matCellDef="let Ordre"> {{Ordre.numparc}} </td>
            </ng-container>

            <ng-container matColumnDef="urgence_panne">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Emergency Breakdown </th>
                <td mat-cell *matCellDef="let Ordre" [ngClass]="getEmergencyClass(Ordre.urgence_panne)">
                    <div style="display: flex; flex-direction: column;">
                        {{Ordre.urgence_panne}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="travaux">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Works </th>
                <td mat-cell *matCellDef="let Ordre">
                    <div style="display: flex; flex-direction: column;">
                        {{Ordre.nom_travail}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="planning">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Planning </th>
                <td mat-cell *matCellDef="let Ordre">
                    <div style="display: flex; flex-direction: column;">
                        {{Ordre.planning}}
                    </div>
                </td>
            </ng-container>


            <ng-container matColumnDef="date_ordre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Date </th>
                <td mat-cell *matCellDef="let Ordre">
                    {{Ordre.date_ordre}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> status </th>
                <td mat-cell *matCellDef="let Ordre" [ngClass]="getStatusClass(Ordre.status)">
                    {{Ordre.status}} </td>
            </ng-container>

            <ng-container matColumnDef="atelier">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Workshop </th>
                <td mat-cell *matCellDef="let Ordre">
                    <div style="display: flex; flex-direction: column;">
                        {{Ordre.nom_atelier}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="technicien">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Technician </th>
                <td mat-cell *matCellDef="let Ordre">
                    <div style="display: flex; flex-direction: column;">
                        {{Ordre.matricule_techn}} {{Ordre.nom}} {{Ordre.prenom}} {{Ordre.specialite}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                <td mat-cell *matCellDef="let ordre">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        
                        <!--<button mat-menu-item (click)="consultOrder(ordre)">
                            <mat-icon>visibility</mat-icon>
                            <span>Consult</span>
                        </button>-->
                        <button mat-menu-item (click)="editStatus(ordre)">
                            <mat-icon>edit</mat-icon>
                            <span>edit status</span>
                        </button>

                        <button mat-menu-item (click)="interventionOrdre(ordre)">
                            <mat-icon>build</mat-icon>
                            <span>create intervention</span>
                        </button>
                    </mat-menu>
                    <!--<div class="boutton">
                        <button  mat-flat-button (click)="editStatus(ordre)" color="primary">edit</button>
                        <button mat-flat-button
                            (click)="interventionOrdre(ordre)" color="black">intervention
                        </button>
                    </div>-->

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let ordres; columns: displayedColumns;"></tr>
        </table>


        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>

    </div>
</div>