<div class="card">
    <div class="buton-container">
        <div class="title"> List Requests</div>
        <button (click)="openDialog()">Add Request</button>
    </div>

    <div class="search-header">
        Search Filters
    </div>
    <!--search form-->
    <div class="search-container">
        <form (ngSubmit)="searchDemandes()" #searchForm="ngForm" class="search-form">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="numparc">Parc Number</label>
                        <input type="number" class="form-control" name="numparc" id="numparc"
                            [(ngModel)]="searchParams.numparc">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="id_chauffeur">Driver</label>
                        <select class="form-control" name="id_chauffeur" id="id_chauffeur"
                            [(ngModel)]="searchParams.id_chauffeur">
                            <option ngValue="">All Drivers</option>
                            <option *ngFor="let chauffeur of chauffeurs" [ngValue]="chauffeur.id_chauf">
                                {{chauffeur.matricule_chauf}} {{chauffeur.nom}} {{chauffeur.prenom}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="date_demande">Request Date</label>
                        <input type="date" class="form-control" name="date_demande" id="date_demande"
                            [(ngModel)]="searchParams.date_demande">
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="type_avarie">Breakdown type</label>
                        <select class="form-control" name="type_avarie" id="type_avarie"
                            [(ngModel)]="searchParams.type_avarie">
                            <option ngValue="">All Types</option>
                            <option *ngFor="let demande of demandes" [ngValue]="demande.type_avarie">
                                {{demande.type_avarie}}</option>
                        </select>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="date_avarie">Breakdown Date</label>
                        <input type="date" class="form-control" name="date_avarie" id="date_avarie"
                            [(ngModel)]="searchParams.date_avarie">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="heure_avarie">Breakdown Hour</label>
                        <input type="time" class="form-control" name="heure_avarie" id="heure_avarie"
                            [(ngModel)]="searchParams.heure_avarie">
                    </div>
                </div>

            </div>
            <div class="buton">
                <button mat-raised-button type="button" (click)="resetSearch()">Reset</button>
                <button mat-raised-button color="primary" type="submit">Search</button>
            </div>
        </form>
    </div>

    <div class="card-body">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort *ngIf="dataSource.data.length > 0">

            <ng-container matColumnDef="id_demande">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Request ID </th>
                <td mat-cell *matCellDef="let Demande"> {{Demande.id_demande}} </td>
            </ng-container>

            <ng-container matColumnDef="date_demande">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Date </th>
                <td mat-cell *matCellDef="let Demande">
                    <div style="display: flex; flex-direction: column;">

                        {{Demande.date_demande}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="type_avarie">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Breakdown Type</th>
                <td mat-cell *matCellDef="let Demande"> {{Demande.type_avarie}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                <td mat-cell *matCellDef="let Demande"> {{Demande.description}} </td>
            </ng-container>

            <ng-container matColumnDef="date_avarie">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Breakdown Date </th>
                <td mat-cell *matCellDef="let Demande"> {{Demande.date_avarie}} {{Demande.heure_avarie}}</td>
            </ng-container>

            <ng-container matColumnDef="statut">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> status </th>
                <td mat-cell *matCellDef="let Demande" [ngClass]="getStatutClass(Demande.statut)"> {{Demande.statut}}
                </td>
            </ng-container>


            <ng-container matColumnDef="vehicule">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicule </th>
                <td mat-cell *matCellDef="let Demande">
                    <div style="display: flex; flex-direction: column;">
                        <span><strong>Parc Number:</strong> {{Demande.numparc}}</span>
                        <span><strong>Vehicle:</strong> {{Demande.immatricule}}</span>
                        <span><strong>Model:</strong> {{Demande.modele}}</span>

                    </div>
                </td>
            </ng-container>


            <ng-container matColumnDef="driver">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Driver </th>
                <td mat-cell *matCellDef="let Demande">
                    <div style="display: flex; flex-direction: column;">
                        <span><strong>Name:</strong> {{Demande.matricule_chauf}}: {{Demande.nom}}
                            {{Demande.prenom}}</span>
                        <span><strong>Information:</strong> {{Demande.email}} {{Demande.cin}}
                            {{Demande.telephone}}</span>


                    </div>
                </td>
            </ng-container>


            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                <td mat-cell *matCellDef="let demande">

                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="editDemande(demande)">
                            <mat-icon>edit</mat-icon>
                            <span>Edit request</span>
                        </button>
                        <button mat-menu-item (click)="deleteDemande(demande.id_demande)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete request</span>

                        </button>
                        <button mat-menu-item (click)="generatePdf(demande.id_demande)">
                            <mat-icon>file_download</mat-icon>
                            <span>export to pdf</span>

                        </button>
                    </mat-menu>

                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let demandes; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>

    </div>
</div>