<div class="container">
    <h2 mat-dialog-title>{{ chauffeur.id_chauf ? 'Update' : 'Add' }} Driver</h2>

    <mat-dialog-content>
        <form #chauffeurForm="ngForm">
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput [(ngModel)]="chauffeur.nom" name="nom" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput [(ngModel)]="chauffeur.prenom" name="prenom" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Driver's registration number</mat-label>
                <input matInput [(ngModel)]="chauffeur.matricule_chauf" name="matricule_chauf" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Identity Card</mat-label>
                <input matInput [(ngModel)]="chauffeur.cin" name="cin" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Phone</mat-label>
                <input matInput [(ngModel)]="chauffeur.telephone" name="telephone" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="chauffeur.email" name="email" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label for="image" class="col-sm-2 col-form-label">Photo</mat-label>
                <input type="text" class="form-control" hidden matInput [(ngModel)]="chauffeur.image" name="image"
                    required>
                <app-file-uploader (onFileSelect)="onFileSelect($event)"></app-file-uploader>
                <!--<app-file-uploader (onFileSelect)="onFileSelect($event)"></app-file-uploader>-->
                <!--<div class="invalid-feedback" *ngIf="submitted && chauffeurForm.controls['image']?.invalid">
                    <div *ngIf="chauffeurForm.controls['image']?.errors?.required">Photo is required</div>
                </div>-->
                <div class="text-danger" *ngIf="uploadError">{{uploadError}}</div>
            </mat-form-field>

            <div *ngIf="chauffeurForm.invalid && (chauffeurForm.dirty || chauffeurForm.touched)" class="error-message">
                All fields must be completed.
            </div>
        </form>
    </mat-dialog-content>

    <div class="buton">
        <mat-dialog-content>
            <button mat-button (click)="dialogRef.close()">Cancel</button>
            <button mat-button color="primary" (click)="saveChauffeur(chauffeurForm)">Save</button>

        </mat-dialog-content>
    </div>
</div>