<div class="toolbar"> <!-- Logo ou nom de l'app à gauche -->

  <!-- Espacement -->
  <span class="spacer"></span>

  <!-- Section utilisateur connecté -->
  <ng-container *ngIf="isLoggedIn">
    <button mat-button [matMenuTriggerFor]="userMenu" class="user-info">
      <mat-icon>account_circle</mat-icon>
      <span class="user-name">{{ user?.nom }}</span>
    </button>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item *ngIf="!isAdmin" (click)="changePassword()">
        <mat-icon>password</mat-icon> change Password
      </button>
      <button mat-menu-item *ngIf="!isAdmin" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon> Sign Out
      </button>
      <button mat-menu-item *ngIf="isAdmin" (click)="logoutAdmin()"> 
        <mat-icon>exit_to_app</mat-icon> Sign Out
      </button>
    </mat-menu>
  </ng-container>
</div>