
.login-background {
  background-image: url('/assets/1573745171.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: auto;
  margin-top: 5%;
  width: 90%;
  max-width: 500px;
  padding: 20px;
}

.jumbotron {
  /*background-color: whitesmoke;*/
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.5);
}

.text-center {
  text-align: center;
  margin-bottom: 20px;
}

.forgot {
  text-align: center;
  margin-top: 15px;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

.form-control,
input[type="email"],
input[type="password"] {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.form-control:focus {
  box-shadow: 0px 0px 5px #e72929;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

button[type="submit"] {
  background-color: #202020;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto; /* Centrage */
}

button[type="submit"]:hover {
  background-color: #0a0505;
}

button[type="submit"]:disabled {
  background-color: #1f1d1d;
  color: #a1a1a1;
  cursor: not-allowed;
}

.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  display: block;
  color: red;
  font-size: 12px;
}

#togglePasswordIcon {
  cursor: pointer;
  font-size: 10px;
  color: #555;
  margin-left: 8px;
  transition: color 0.3s ease;
}

#togglePasswordIcon:hover {
  color: #007bff; /* bleu au survol */
}

.mat-error-message {
  font-size: 14px;
  padding: 5px;
  margin-left: 10px;
  color: #f44336;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.is-invalid {
  border: 1px solid red;
}

.text-danger {
  margin-left: 65px;
  color: #f44336;
  font-size: 14px;
  font-weight: 500;
}
