<div class="widget-container">
    <div class="widget green">
        <div class="icon">
            <fa-icon [icon]="faCar"></fa-icon>
        </div>
        <div class="value">
            <div class="top">{{ totalVehicles }}</div>
            <div class="bottom">Vehicles</div>
        </div>
    </div>
    <div class="widget yellow">
        <div class="icon">
            <fa-icon [icon]="faUserTie"></fa-icon>
        </div>
        <div class="value">
            <div class="top">{{totalDrivers}}</div>
            <div class="bottom">Drivers</div>
        </div>
    </div>
    <div class="widget red">
        <div class="icon">
            <fa-icon [icon]="faUserGear "></fa-icon>
        </div>
        <div class="value">
            <div class="top">{{ totalTechnicians }}</div>
            <div class="bottom">Technicians</div>
        </div>
    </div>
    <div class="widget blue">
        <div class="icon">
            <fa-icon [icon]="faTools"></fa-icon>
        </div>
        <div class="value">
            <div class="top">{{ totalAteliers }}</div>
            <div class="bottom">Workshops</div>
        </div>
    </div>
</div>