<div class="card">
    <!--<div class="buton-container">
        <button (click)="openDialog()">Add</button>
    </div>-->

    <div class="card-head">
        <div class="title"> List Interventions</div>
    </div>

    <div class="search-header">
        Search Filters
    </div>
    <div class="search-container">
        <!--<mat-form-field style="width: 180px;margin-left: 15px;">
            <input (input)="searchIntervention(filter.value)" matInput placeholder="search Intervention" type="text"
                style="width: 190px;" #filter>
            <mat-icon fontIcon="search" matSuffix></mat-icon>
        </mat-form-field>-->

        <form (ngSubmit)="searchIntervention()" #searchForm="ngForm" class="search-form">

            <div class="row">

                <!--<div class="col-md-3">
                    <div class="form-group">
                        <label for="date_ordre">Order Date</label>
                        <input type="date" class="form-control" name="date_ordre" id="date_ordre"
                            [(ngModel)]="searchParams.date_ordre">
                    </div>
                </div>-->

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="id_technicien">Technician</label>
                        <select class="form-control" name="id_technicien" id="id_technicien"
                            [(ngModel)]="searchParams.id_technicien">
                            <option ngValue="">All Technician</option>
                            <option *ngFor="let technicien of techniciens" [ngValue]="technicien.id_technicien">
                                {{technicien.matricule_techn}} {{technicien.nom}} {{technicien.prenom}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="date_debut">Start Intervention Date</label>
                        <input type="date" class="form-control" name="date_debut" id="date_debut"
                            [(ngModel)]="searchParams.date_debut">
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        <label for="heure_debut">Start Intervention Hour</label>
                        <input type="time" class="form-control" name="heure_debut" id="heure_debut"
                            [(ngModel)]="searchParams.heure_debut">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="date_fin">End Intervention Date</label>
                        <input type="date" class="form-control" name="date_fin" id="date_fin"
                            [(ngModel)]="searchParams.date_fin">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="heure_fin">End Intervention Hour</label>
                        <input type="time" class="form-control" name="heure_fin" id="heure_fin"
                            [(ngModel)]="searchParams.heure_fin">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="status_intervention">Status</label>
                        <select class="form-control" name="status_intervention" id="status_intervention"
                            [(ngModel)]="searchParams.status_intervention">
                            <option ngValue="">All Status</option>
                            <option *ngFor="let intervention of interventions"
                                [ngValue]="intervention.status_intervention">
                                {{intervention.status_intervention}}
                            </option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="buton">
                <button mat-raised-button type="button" (click)="resetSearch()">Reset</button>
                <button mat-raised-button color="primary" type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="card-body">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort *ngIf="dataSource.data.length > 0">

            <ng-container matColumnDef="id_intervention">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let Intervention"> {{Intervention.id_intervention}} </td>
            </ng-container>

            <ng-container matColumnDef="Vehicle">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle </th>
                <td mat-cell *matCellDef="let Intervention"> {{Intervention.numparc}} </td>
            </ng-container>


            <ng-container matColumnDef="technicien">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Technician </th>
                <td mat-cell *matCellDef="let Intervention">
                    <div style="display: flex; flex-direction: column;">
                        <span><strong>Number:</strong> {{Intervention.matricule_techn}}</span>
                        <span><strong>Name:</strong> {{Intervention.nom}} {{Intervention.prenom}} </span>
                        <span><strong>Speciality:</strong> {{Intervention.specialite}}</span>

                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="atelier">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Workshops </th>
                <td mat-cell *matCellDef="let Intervention">
                    <div style="display: flex; flex-direction: column;">
                        <span><strong>Name:</strong> {{Intervention.nom_atelier}}</span>
                        <span><strong>Phone:</strong> {{Intervention.telephone}} </span>
                        <span><strong>E-mail:</strong> {{Intervention.email}}</span>

                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="date_debut">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Start date of intervention</th>
                <td mat-cell *matCellDef="let Intervention"> {{Intervention.date_debut}} {{Intervention.heure_debut}}
                </td>
            </ng-container>

            <ng-container matColumnDef="date_fin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> End date of intervention</th>
                <!--<td mat-cell *matCellDef="let Intervention"> {{Intervention.date_fin}} {{Intervention.heure_fin}} </td>-->
                <td mat-cell *matCellDef="let Intervention">
                    {{ Intervention.date_fin ? Intervention.date_fin + ' ' + Intervention.heure_fin : 'N/A' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let Intervention"
                    [ngClass]="getStatusClass(Intervention.status_intervention)"> {{Intervention.status_intervention}}
                </td>
            </ng-container>

            <ng-container matColumnDef="commentaire">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Comment </th>
                <td style="width: 50px; height: 30px;" mat-cell *matCellDef="let Intervention">
                    {{Intervention.commentaire}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                <td mat-cell *matCellDef="let intervention">

                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="editIntervention(intervention)">
                        <mat-icon>edit</mat-icon>
                        <span>edit intervention</span>
                    </button>
                    <button mat-menu-item (click)="deleteIntervention(intervention.id_intervention)">
                        <mat-icon>delete</mat-icon>
                        <span>delete intervention</span>

                    </button>
                    <button mat-menu-item (click)="generatePdf(intervention.id_intervention)">
                        <mat-icon>file_download</mat-icon>
                        <span>export to pdf</span>

                    </button>
                    </mat-menu>
                    <!--<button style="height: 27px;margin-left: 20px;" mat-icon-button
                        (click)="editIntervention(intervention)" color="primary" matTooltip="edit"
                        aria-label="Button that displays a tooltip when focused or hovered over">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button style="height: 27px;margin-left: 20px;" mat-icon-button
                        (click)="deleteIntervention(intervention.id_intervention)" color="warn" matTooltip="delete"
                        aria-label="Button that displays a tooltip when focused or hovered over">
                        <mat-icon>delete</mat-icon>
                    </button>

                    <button style="height: 27px; margin-left: 20px;" mat-icon-button
                        (click)="generatePdf(intervention.id_intervention)" color="black" matTooltip="export order"
                        aria-label="Button that displays a tooltip when focused or hovered over">
                        <mat-icon>file_download</mat-icon>
                    </button>-->

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let Interventions; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>

    </div>
</div>