<div *ngIf="ordre" class="container my-4">
    <div class="header-container">
      <h2 class="fw-bold">Consult Order N°{{ ordre.id_ordre }}</h2>
      <button color="warn" mat-icon-button mat-dialog-close class="close-btn" aria-label="Close">
        <mat-icon>close</mat-icon>
      </button>
    </div>


  <div class="card shadow-sm">
    <div class="card-body">

      <div class="row">

        <!-- Colonne gauche -->
        <div class="col-md-6">

          <fieldset class="mb-3">
            <legend class="fw-semibold text-success">Diagnostic</legend>
            <ul class="list-unstyled mb-0">
              <li><strong>Parc Number:</strong> {{ ordre.diagnostic.demande.vehicule.numparc }}</li>
              <li><strong>Description :</strong> {{ ordre.diagnostic.description_panne }}</li>
              <li><strong>Causes :</strong> {{ ordre.diagnostic.causes_panne }}</li>
              <li><strong>Actions :</strong> {{ ordre.diagnostic.actions }}</li>
              <li><strong>Date :</strong> {{ ordre.diagnostic.date_diagnostic }}</li>
              <li><strong>Hours :</strong> {{ ordre.diagnostic.heure_diagnostic }}</li>
            </ul>
          </fieldset>

        </div>

        <!-- Colonne droite -->
        <div class="col-md-6">

          <fieldset class="mb-3">
            <legend class="fw-semibold text-danger">Ordre</legend>
            <ul class="list-unstyled mb-0">
              <li><strong>Works :</strong> {{ ordre.travaux.nom_travail }}</li>

              <li><strong>Emergency Breakdown :</strong> <span class="badge bg-danger">{{ ordre.urgence_panne }}</span>
              </li>
              <li><strong>Planning :</strong> {{ ordre.planning }}</li>
              <li><strong>Date :</strong> {{ ordre.date_ordre }}</li>
            </ul>
          </fieldset>

          <fieldset class="mb-3">
            <legend class="fw-semibold text-warning">Workshop</legend>
            <ul class="list-unstyled mb-0">
              <li><strong>Name :</strong> {{ ordre.atelier.nom_atelier }}</li>
              <li><strong>📞 :</strong> {{ ordre.atelier.telephone }}</li>
              <li><strong>✉️ :</strong> {{ ordre.atelier.email }}</li>
              <li><strong>Capacity :</strong> {{ ordre.atelier.capacite }}</li>
            </ul>
          </fieldset>

          <fieldset class="mb-3">
            <legend class="fw-semibold text-info">Technicien</legend>
            <ul class="list-unstyled mb-0">
              <li><strong>Name :</strong> {{ ordre.technicien.nom }} {{ ordre.technicien.prenom }}</li>
              <li><strong>Technician Number :</strong> {{ ordre.technicien.matricule_techn }}</li>
              <li><strong>📞 :</strong> {{ ordre.technicien.telephone_techn }}</li>
              <li><strong>✉️ :</strong> {{ ordre.technicien.email_techn }}</li>
              <li><strong>Speciality :</strong> {{ ordre.technicien.specialite }}</li>
            </ul>
          </fieldset>

        </div>
      </div>

    </div>
  </div>
</div>



<button mat-raised-button class="btn" (click)="interventionOrdre(ordre)">create Intervention</button>

<div class="card-body">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort *ngIf="dataSource.data.length > 0">

    <ng-container matColumnDef="id_intervention">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let Intervention"> {{Intervention.id_intervention}} </td>
    </ng-container>

    <ng-container matColumnDef="Vehicle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle </th>
      <td mat-cell *matCellDef="let Intervention"> {{Intervention.numparc}} </td>
    </ng-container>


    <ng-container matColumnDef="technicien">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Technician </th>
      <td mat-cell *matCellDef="let Intervention">
        <div style="display: flex; flex-direction: column;">
          <span><strong>Number:</strong> {{Intervention.matricule_techn}}</span>
          <span><strong>Name:</strong> {{Intervention.nom}} {{Intervention.prenom}} </span>
          <span><strong>Speciality:</strong> {{Intervention.specialite}}</span>

        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="atelier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Workshops </th>
      <td mat-cell *matCellDef="let Intervention">
        <div style="display: flex; flex-direction: column;">
          <span><strong>Name:</strong> {{Intervention.nom_atelier}}</span>
          <span><strong>Phone:</strong> {{Intervention.telephone}} </span>
          <span><strong>E-mail:</strong> {{Intervention.email}}</span>

        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="date_debut">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Start date of intervention</th>
      <td mat-cell *matCellDef="let Intervention"> {{Intervention.date_debut}} {{Intervention.heure_debut}}
      </td>
    </ng-container>

    <ng-container matColumnDef="date_fin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> End date of intervention</th>
      <td mat-cell *matCellDef="let Intervention">
        {{ Intervention.date_fin ? Intervention.date_fin + ' ' + Intervention.heure_fin : 'N/A' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let Intervention" [ngClass]="getStatusClass(Intervention.status_intervention)">
        {{Intervention.status_intervention}}
      </td>
    </ng-container>

    <ng-container matColumnDef="commentaire">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Comment </th>
      <td style="width: 50px; height: 30px;" mat-cell *matCellDef="let Intervention">
        {{Intervention.commentaire}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let intervention">

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editIntervention(intervention)">
            <mat-icon>edit</mat-icon>
            <span>edit intervention</span>
          </button>
          <button mat-menu-item (click)="deleteIntervention(intervention.id_intervention)">
            <mat-icon>delete</mat-icon>
            <span>delete intervention</span>

          </button>
          <button mat-menu-item (click)="generatePdf(intervention.id_intervention)">
            <mat-icon>file_download</mat-icon>
            <span>export to pdf</span>

          </button>
        </mat-menu>

      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let Interventions; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>

</div>