<!--<div class="card">
    <div class="card-body">
        <div class="workshop-details">
            <ul>
                <li>
                    <strong>Order ID:</strong> {{ ordre.id_ordre }}<br>
                    <strong>Vehicle:</strong> {{ ordre.diagnostic?.demande?.vehicule?.numparc }}<br>
                    <strong>Emergency Breakdown:</strong> {{ ordre.urgence_panne }}<br>
                    <strong>Planning:</strong> {{ ordre.planning }}<br>
                    <strong>Order Date:</strong> {{ ordre.date_ordre }}<br>
                    <strong>Status:</strong> {{ ordre.status }}<br>
                    <strong>Technician:</strong> {{ ordre.technicien?.matricule_techn }} {{ ordre.technicien?.nom }}
                    {{ordre.technicien?.prenom }}<br>
                </li>
            </ul>
        </div>
    </div>
</div>-->