.container {
    margin: auto;
    margin-top: 10%;
    width: 50%;
    padding: 20px;
    border: 2px solid none;
}

.text-center {
    margin-left: 150px;
}

.jumbotron {
    background-color: whitesmoke;
    /*e7e4e4*/
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    /*rgba(0, 0, 0, 0.1)*/
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
    box-shadow: 0px 0px 5px #e72929;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="email"] {
    width: 100%;
}

.row {
    border: 1px solid rgb(168, 162, 162);
}

.button-container {
    display: flex;
    justify-content: center; /* Centers the items horizontally */
    align-items: center; /* Aligns the items vertically */
}

button[type="submit"] {
    background-color: #000;
    color: #fff;
    border: none;
    margin: auto;
    margin-right: 34px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    /* Aligne le bouton au centre */
}

button[type="submit"]:hover {
    background-color: #232525;
}

a {
    /*text-decoration: none; /* Remove underline from the link */
    /*color: #02534d;
    font-weight: bold;*/
    cursor: pointer;
    margin-right: 100px;
}

a:hover {
    color: #033633; /* Darken the link color on hover */
}


.is-invalid {
    border-color: #dc3545;
}

.invalid-feedback {
    display: block;
    color: red;
    font-size: 12px;
}


button[type="submit"]:disabled {
    background-color: #4c5050; /*dcdcdc Light grey background */
    color: #a1a1a1; /* Grey text color */
    cursor: not-allowed; /* Show a not-allowed cursor */
}

.error-message {
    color: red; /* Red text */
    text-align: center; /* Center the message */
    font-weight: bold; /* Make the message bold */
    margin-top: 10px; /* Add some space above the message */
}

.success-message {
    color: red; /* Red text color */
    text-align: center; /* Center the text */
    font-weight: bold; /* Make the text bold for emphasis */
    font-size: 16px; /* Adjust the font size if needed */
}

