<div class="container">
    <div class="jumbotron">
        <h2 class="text-center">Forgot password</h2>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" formControlName="email" type="email" required />
                <div *ngIf="email?.invalid && email?.touched" class="invalid-feedback">
                    <small class="alert alert-danger" *ngIf="email?.hasError('required')">Email Required</small>
                    <small class="alert alert-danger" *ngIf="email?.hasError('email')">Please enter a valid email.</small>
                  </div>
            </div>

            <br>
            <div class="button-container">
                <button type="submit" [disabled]="forgotPasswordForm.invalid">Send Password</button> 
                <a href="login" routerLink="/login" routerLinkActive="active">Back</a>
            </div>
        </form>

        <p *ngIf="message" class="success-message">{{ message }}</p>
        <p *ngIf="errorMessage"  class="error-message">{{ errorMessage }}</p>
    </div>
</div>